.Width{
    width: 100vw;
    height: 100vh;
}

.cover{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
#rick{
    overflow: hidden;
    position: absolute;
    left: 100px;
    top: 122px
}
#deal{
    scale: .65;
    rotate: 9deg;
}
.youtube-container{
    height: 0;
    float: left;

}
iframe {
    height: inherit;
}

#code{
    width: 200px;
}

