:root{
    --bg-color-skip-content: #CFF;
}
.alert-info{
    width: 95%;
    margin: 1em auto 0;
    background-color: var(--bg-color-skip-content);
    border: 2px solid #d2d2d2;
    text-align: center;
    padding: 0.75em 0;
}
h1{
    font-size: 3em;
    text-align: center;
    margin: .25em 0 .75em;
}
.nav-links{
    list-style: none;
    padding-left: 0;
    width: 95%;
    margin: 1em auto;
}
li{
    background-color: #CCC;
    text-align: center;
    margin: .75em 0;
    padding: 1em 0;
}
li:nth-child(1){
    padding-right: 50%;
}
li:nth-child(2){
    padding-right: 20%;
}
li:nth-child(3){
    padding-left: 20%;
}
li:nth-child(4){
    padding-left: 50%;
}
.alert-info>a{
    text-decoration: none;
    color: black;
}
.header-img{
    width: 95%;
    margin: 0 auto;
}
img{
    width: 100%;
}
.main h2, .sub-section h2{
    margin-bottom: .25em;
}
.main p, .sub-section p{
    margin-top: .25em;
    margin-bottom: 2.5em;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {
    img {
        width: 100%;
    }
    .header-img{
        width: 95%;
        margin: 0 auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    img {
        width: 100%;
        clear: both;
    }
    .header-img {
        width: 100%;
    }
    .hidden-on-desktop{
        visibility: hidden;
        margin: 0;
        padding: 0;
        height: 0;
    }
    h1 {
        text-align: left;
        float: left;
    }
    nav {
        /*float: right;*/
    }
    .nav-links {
        float: right;
        width: 20em;

    }
    li {
        display: inline-block;
        background-color: transparent;
        margin: 1em;
    }
    li:nth-child(1){
        padding: 0;
    }
    li:nth-child(2){
        padding: 0;
    }
    li:nth-child(3){
        padding: 0;
    }
    li:nth-child(4){
        padding: 0;
    }
    .main {
        float: left;
        width: 60%;
    }
    body {
        width: 95%;
        margin: 0 auto;
    }
    .main h2, .sub-section h2{
        margin: 2em 0;
    }
    .main p {
        margin-right: 10%;
    }
    .main p, .sub-section p{
        margin-top: .25em;
        margin-bottom: 2.5em;
    }
    footer {
        margin-top: 30em;
    }
}