
/* this makes the header transparent */
#header {
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    z-index: 5;
}

/* this sets the footer above the map */

footer {
    z-index: 5;
}

/* this sets the map to 100% x/y and at the back of the window */

#map{
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

/* this makes the weather icons the size i want */

img {
    width: 75px;
}

/* this adjusts the weather Max and Min temp where i want */

h1{
    margin-left: 15px;
}